*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url('background.png');
    background-size: cover
    
}

nav{
    margin-top: 2vh;
    display: flex;
}

ul{
    display: flex;
    width: 30%;
    justify-content: space-around;
    float: left;
    margin-top: 0.5vh;


}

li{
    list-style-type: none;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

    
}

.nav-button{
    width: 30%;
    position: absolute;
    right: 30px;
    
}

.sign-in{
    height: 6vh;
    width: 6vw;
    border: none;
    border-radius: 30px;
    margin-left: 4vw;
    cursor: pointer;
}
.learning-btn{
    height: 6vh;
    width: 15vw;
    border: 2px solid white;
    background-color:#5E17EB;
    color: white;
    border-radius: 30px;
    margin-left: 1vw;
    cursor: pointer;

}

.page{
    margin-top: 30vh;
    margin-left: 10vw;
    width: 50%;
}

h1{
    padding-bottom: 5vh;
    font-size: 3rem;
}

span{
    color: #5E17EB;
}
h5{
    padding-bottom: 5vh;
    width: 70%;
    font-weight: 100;
    font-size: .7rem;
    line-height: 20px;
}


.btn1{
    height: 6vh;
    width: 15vw;
    background-color:#5E17EB;
    font-size: 1rem;
    color: whitesmoke;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}